<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Libro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #383535;
            color: #fff;
        }
        .card {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            color: #000;
        }
        .card-title {
            font-weight: bold;
        }
        .form-control, .btn {
            border-radius: 5px;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
    </style>
</head>
<body>
    <div class="container py-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Editar Libro</h2>
                <form action="/v1/books/<%= book.book_id %>" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Título</label>
                        <input type="text" id="title" name="title" class="form-control" value="<%= book.title %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="publication_year" class="form-label">Año de Publicación</label>
                        <input type="number" id="publication_year" name="publication_year" class="form-control" value="<%= book.publication_year %>">
                    </div>
                    <div class="mb-3">
                        <label for="author_id" class="form-label">Autor</label>
                        <select id="author_id" name="author_id" class="form-control" required>
                            <% authors.forEach(function(author) { %>
                                <option value="<%= author.author_id %>" <%= book.author_id === author.author_id ? 'selected' : '' %>><%= author.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
